html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-font-smoothing: inherit;
}

body {
	margin:0;
}

.top-nav {
	height: 10rem;
	width: 100%;
}

.top-nav > .content > .main-logo {
	height: 10rem;
	width: 12.7rem;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.top-nav > .content > .main-logo > .logo-pic {
	width: 12.3rem;
}

.top-nav > .content > .menu {
	height: 10rem;
	width: 15rem;
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}

.sash {
	width: 100%;
	height: 6rem;
}

.stripe {
	background-color:cornflowerblue;
}

.stripe > .content {
	width: 22rem;
	margin: 0 auto;
	font-size: 0.75rem;
}

.col_header {
	padding-left: 1rem;
	text-align: center;
}

.add-button {
	width: 7rem;
	background-color:black;
	border-color:black;
	border-radius:0.25rem;
	color: white;
	font-size:1rem;
	padding: .1rem 1rem;
	margin-left: 0.7rem;
}

.add-button:hover {
	background-color: gray;
	border-color: gray;
}

.edit_buttons {
	width: 8.5rem;
	padding:0.5rem;
}

.little_button {
	margin: 0 0.2rem;
	color: white;
	background-color: gray;
	border-color: gray;
	border-radius: 0.2rem;
}

.little_button:hover {
	background-color: black;
	border-color: black;
	color: white;
}

.forms {
	/*height: 24rem;*/
	width: 60rem;
	margin: 0 auto;
	overflow: auto;
}

.workspace {
	float: right;
}

.results {
	float: right;
	margin-top:1rem;
}

.clear {
	clear: both;
	line-height: 0;
}

#thelist > tbody > tr > td {
	padding: 0.5rem 1rem;
}

#checkout > tbody > tr > td {
	padding: 0.5rem 1rem;
	text-align: right;
}

.resultstxt {
	font-weight: bold;
}

#price_box {
	width: 7rem;
}

.dollars {
	width: 5rem;
}

.unitprice {
	width: 3.5rem;
}

.submission {
	float: right;
}

#proceed {
	font-size: 0.8rem;
	padding:0.2rem;
	background-color:black;
	color: white;
	border-radius:0.25rem;
}

#proceed:hover {
	background-color:gray;
}

footer {
	width: 100%;
}

.credits {
	width: 20rem;
	margin: 0 auto;
}